html {
    scroll-behavior: smooth;
}

/*=== BOOTSTRAP NAV BAR ====*/
.nav-item {
    color: white !important;
    font-size: 20px;
    font-family: 'Nova Flat', cursive;
}
.nav-item:hover {
    color: #683090 !important;
    font-family: 'Spicy Rice', cursive;
    font-size: 26px;
}
.navbar-brand-fluid {
    font-family: 'Nova Flat', cursive;
    font-size: 26px;
    height: 100%;
}
.navbar-brand-fluid:hover {
    background-color: #d74c30 !important;
    text-transform: uppercase;
}
#nav {
    margin: 0 auto;
}


/*===== SLIDES =====*/

.mySlides {
    display: none;
    height: 650px;
    justify-items: center;
    margin: auto;
}
.slideImages {
    vertical-align: middle;
    height: 100%; 
    /* max-width: 960px;  */
    width: 100%;
    margin: auto;
}

.technologies {
    vertical-align: middle;
    height: 100px; 
    display: flex;
}

.wrapper {
    max-width: 960px;
    /*align wrapper to the center*/
    margin: 0 auto;
    position: relative;
}
.technologies {
    position: absolute;
    text-align: center;
    /* margin: auto !important; */
    /* align-items: center; */
    width: 70%;
    height: 50%;
    /* justify-items: center; */
    top: 15%;
    /* display: flex; */
}

.text {
    font-size: 45px;
    position: absolute;
    text-align: center;
    margin: auto !important;
    /* align-items: center; */
    /* justify-items: center; */
    bottom: 130px;
    color: #d74c30;
    font-family: 'Bungee Inline', cursive;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.techImg {
    /* top: 10px !important;
    position: absolute;
    text-align: center;
     */
    height: 40%;
    border-radius: 40px;
    /* padding: 10px; */
    margin:auto;
    box-shadow: 0 5px 20px rgba(0,0,0,.9);
    transform: translateY(-10px) scale(1.02); 
}


.credit {
    color: rgb(148, 146, 146);
    font-size: 15px;
    text-shadow: none;
    position: absolute;
    text-align: center;
    padding:10px;
    /* bottom: 65px; */
}

.slideNum {
    font-size: 18px;
    position: absolute;
    top: 10px;
}



/*=== ABOUT ===*/
.about {
    padding: 70px 0;
}
.myPicture {
    max-width: 100%;
    padding-left: 20px;
    height: 450px;  
}

.myPicture:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.02);      
}

.container {
    background-color: #f1c7af;
    font-family: 'Cormorant Infant', serif;
    font-size: 22px;
    padding: 20px 0;
    line-height: 1.5;
    height: 100%;
}
p {
    padding-right: 20px;
    border-right: 0;
}
#aboutMe {
    font-size: 35px;
    text-align: center;
    padding: 0 0 20px 0;   
}

#contentDiv2:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.04);
        /* .entry-title{
            background-position: -100% 0;
        }  */
      
}
/*===== FOOTER =====*/
.card-footer {
    height: 50px;
}

/*===== CONTACT ====*/
.imageBackground {
    background: url("../images/desk.jpeg") no-repeat center center fixed; 
    background-size: cover;
}

#aboutMe .contactMe {
    color: white;
    font-size: 35px;
    font-family: 'Bungee Inline', cursive;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#aboutMe a {
    font-family: 'Bungee Inline', cursive;
    color: white;
    font-size: 30px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#aboutMe a:hover {
    font-size: 40px;
    color: #9d2b54;
}

#contactContainerDiv {
    background: transparent !important;
}
/*==== PORTFOLIO ====*/
.portfolioWrapper {
    padding: 40px 0 80px 0;
}
.caption a {
   text-decoration: none;
   color: white;
}

.caption a:hover {
    color: blue;
}

.caption:hover {
    background-color: #f5a540 !important;

}

/*==== MEDIA QUERIES =====*/
/** tablet screen size **/
@media screen and (max-width: 768px) {
    p{
        padding-left: 15px;
        padding-right: 15px;
    }
    .myPicture {
        max-width: 100%;
        padding-left: 130px;
        height: 400px;  
    }
    #aboutMe .contactMe {
        font-size: 30px;
    }
    #aboutMe a {
        font-size: 25px;
    }
}

/** phone in landscape screen size **/
@media screen and (max-width: 640px) {
    .slideImages {
        height: 500px;
    }
    p{
        padding-left: 10px;
        padding-right: 10px;
    }
    .buttonForm {
        font-size: 15px;
    }
    #aboutMe h2 {
        font-size: 25px;
    }
    .formWrapper {
        padding: 0px;
    } 
    .myPicture {
        max-width: 100%;
        padding-left: 60px;
        height: 350px;  
    }
    #aboutMe .contactMe {
        font-size: 25px;
    }
    #aboutMe a {
        font-size: 22px;
    }
}


/* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
/* Using the CSS prefers-reduced-motion media query, we can disable smooth scrolling 
for users that have opted in to reduced motion in their browser settings. */

/* Vestibular disorders may be caused by disease, aging, or injury. 
Users with Vestibular disorders may suffer from motion sickness which in turn can cause dizziness, 
fatigue and nausea. */
@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}